@charset "UTF-8";
:root {
  --basic-black: #000000;
  --basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-quarter-grey: #DCDCDC;
  --basic-grey-light: #D9D9D9;
  --basic-grey-lighten: #E5E5E5;
  --basic-grey-lightest: #EBEBEB;
  --basic-white: #FFFFFF;
  --special-yellow-dark: #F0C52E;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Gilroy-ExtraBold.woff);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Gilroy-Light.woff);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}

/* Global */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.basic-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.basic-link {
  color: var(--basic-black);
  line-height: 20px;
}

.basic-link:focus, .basic-link:hover {
  outline: none;
  opacity: 60%;
}

.basic-link:active {
  opacity: 30%;
}

.basic-link_theme_dark {
  color: var(--basic-white);
  opacity: 70%;
}

.basic-link_theme_dark:focus, .basic-link_theme_dark:hover {
  outline: none;
  opacity: 100%;
}

.basic-link_theme_dark:active {
  opacity: 30%;
}

.basic-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.button {
  position: relative;
  border: none;
  display: inline-block;
  background-color: transparent;
  font-family: Gilroy, Arial, sans-serif;
  letter-spacing: 0.2em;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button::before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
}

.button:focus, .button:hover {
  outline: none;
  cursor: pointer;
}

.button:focus::before, .button:hover::before {
  height: 100%;
}

.button:active {
  cursor: pointer;
  color: var(--basic-black-30);
}

.button:active::before {
  height: 100%;
}

.button_active {
  color: var(--special-yellow);
}

.button_active::before {
  background-color: var(--basic-black);
  height: 100%;
}

.button_active:focus, .button_active:hover, .button_active:active {
  cursor: default;
  color: var(--special-yellow);
}

.button_active:focus::before, .button_active:hover::before, .button_active:active::before {
  background-color: var(--basic-black);
  height: 100%;
}

.grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.col-2 {
  width: 16.66%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-3 {
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-4 {
  width: 33.33%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-6 {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-8 {
  width: 66.66%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-9 {
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */
.header__wrapper {
  background-color: var(--special-yellow);
}

.header-nav__link {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header-catalog {
  display: none;
}

/* slider */
.slider-item {
  display: none;
}

.slider-item_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item__text {
  line-height: 20px;
}

.slider-table__item {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider-table__item_value {
  font-size: 36px;
  line-height: 42px;
}

.slider-controls__button {
  border: none;
  background-color: transparent;
  background-image: url(../img/slider/slider-button-empty.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.slider-controls__button_active {
  background-image: url(../img/slider/slider-button.svg);
}

/* popular */
.popular__item:focus .popular__link::after,
.popular__item:hover .popular__link::after {
  background-color: var(--special-yellow-dark);
}

.popular__item:active .popular__link {
  color: var(--basic-black-30);
}

.popular__item:active .popular__link::before {
  opacity: 30%;
}

.popular__link {
  display: block;
  width: 160px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.popular__link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
}

.popular__link_1::before {
  background-image: url(../img/popular/popular-1.svg);
}

.popular__link_2::before {
  background-image: url(../img/popular/popular-2.svg);
}

.popular__link_3::before {
  background-image: url(../img/popular/popular-3.svg);
}

.popular__link_4::before {
  background-image: url(../img/popular/popular-4.svg);
}

.popular__link_5::before {
  background-image: url(../img/popular/popular-5.svg);
}

.popular__link_6::before {
  background-image: url(../img/popular/popular-6.svg);
}

.popular__link::after {
  content: "";
  display: block;
  background-color: var(--special-yellow);
  width: 160px;
  height: 160px;
}

/* services */
.services__text {
  letter-spacing: 0.1em;
}

.services__item {
  display: none;
}

.services__item_active {
  display: block;
}

/* partners */
.partners__img {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.partners__img_dji:focus, .partners__img_dji:hover {
  background-image: url(../img/partners/dji.png);
}

.partners__img_spgadgets:focus, .partners__img_spgadgets:hover {
  background-image: url(../img/partners/spgadgets.png);
}

.partners__img_gopro:focus, .partners__img_gopro:hover {
  background-image: url(../img/partners/gopro.png);
}

.partners__img_vive:focus, .partners__img_vive:hover {
  background-image: url(../img/partners/vive.png);
}

/* info */
.info__link {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.info__link:focus, .info__link:hover {
  outline: none;
  opacity: 60%;
}

.info__link:active {
  opacity: 30%;
}

/* contacts */
/* footer */
.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  line-height: 20px;
}

.footer-nav__link {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer-tel__link {
  color: var(--basic-white);
}

/* catalog */
/* breadcrumbs */
.breadcrumbs__item {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 30%;
}

.breadcrumbs__item:focus, .breadcrumbs__item:hover {
  opacity: 60%;
}

.breadcrumbs__item:active {
  opacity: 10%;
}

.breadcrumbs__item_active:hover, .breadcrumbs__item_active:focus, .breadcrumbs__item_active:active {
  opacity: 30%;
  cursor: default;
}

/* filter */
.filter {
  line-height: 19px;
  background-color: var(--basic-grey-lighten);
}

.filter__title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter__item {
  border: none;
}

.filter__text {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

/* catalog */
.sort-wrapper {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #DCDCDC), color-stop(50%, #FFFFFF));
  background: linear-gradient(to right, #DCDCDC 50%, #FFFFFF 50%);
}

.sort__filter {
  background-color: var(--basic-quarter-grey);
}

.sort__sort {
  background-color: var(--basic-white);
}

.сatalog-wrapper {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #E5E5E5), color-stop(50%, #FFFFFF));
  background: linear-gradient(to right, #E5E5E5 50%, #FFFFFF 50%);
}

.catalog {
  background-color: var(--basic-white);
}

.catalog-sort__title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-sort__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 30%;
}

.catalog-sort__link:focus, .catalog-sort__link:hover {
  opacity: 60%;
}

.catalog-sort__link:active {
  opacity: 100%;
}

.catalog-sort__link_active {
  opacity: 100%;
}

.catalog-sort__link_active:focus, .catalog-sort__link_active:hover, .catalog-sort__link_active:active {
  opacity: 100%;
  cursor: default;
}

.catalog__item {
  width: 360px;
}

.catalog__text {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog__price {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 50%;
}

.catalog__link:focus, .catalog__link:hover {
  opacity: 100%;
}

.catalog__link:active {
  opacity: 20%;
}

/* pages */
.pages {
  background-color: var(--basic-grey-lightest);
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.pages__button {
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.pages__button:focus, .pages__button:hover {
  background-color: var(--basic-grey-light);
  cursor: pointer;
  outline: none;
}

.pages__button:active {
  color: var(--basic-black-30);
  background-color: var(--basic-grey-light);
  cursor: pointer;
}

.pages__button_disabled:focus, .pages__button_disabled:hover, .pages__button_disabled:active {
  cursor: default;
  background-color: transparent;
  color: var(--basic-black);
}

.pages__link {
  color: var(--basic-black);
  opacity: 30%;
}

.pages__link:focus, .pages__link:hover {
  opacity: 60%;
}

.pages__link:active {
  opacity: 100%;
}

.pages__link_active {
  opacity: 100%;
}

.pages__link_active:focus, .pages__link_active:hover, .pages__link_active:active {
  opacity: 100%;
}
